
- name: Install web related system packages
  apt: 
    state: "{{ galaxy_extras_apt_package_state }}"
    name: "{{ packages }}"
  vars:
    packages:
    - uwsgi
    - uwsgi-plugin-python
    - supervisor
  when: galaxy_extras_install_packages

- name: Install cron
  apt: 
    state: "{{ galaxy_extras_apt_package_state }}"
    name: "{{ packages }}"
  vars:
    packages:
    - cron
  when: supervisor_manage_cron|bool

- name: Create Galaxy configuration file
  template: src=supervisor.conf.j2 dest={{ supervisor_conf_path }}

- name: Stop supervisor
  service: name=supervisor state=stopped
  tags: stop_supervisor

- name: Stop and remove uwsgi.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - uwsgi
  when: galaxy_extras_config_uwsgi|bool and supervisor_manage_uwsgi|bool and galaxy_extras_install_packages

- name: Stop and remove munge.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - munge
  when: galaxy_extras_config_slurm|bool and supervisor_manage_slurm|bool

- name: Stop and remove slurm.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - slurmd
    - slurmctld
  when: galaxy_extras_config_slurm|bool and supervisor_manage_slurm|bool

- name: Stop and remove postgresql.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - postgresql
  when: supervisor_manage_postgres

- name: Stop and remove proftpd.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - proftpd
  when: galaxy_extras_config_proftpd|bool and supervisor_manage_proftp|bool

- name: Stop and remove nginx.
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - nginx
  when: galaxy_extras_config_nginx|bool and supervisor_manage_nginx|bool

# Do not start supervisor when building docker-galaxy-stable
- name: Start supervisor
  service: name=supervisor state=started
  when: galaxy_uwsgi_static_conf
