---
- hosts: localhost
  connection: local
  become: yes
  tasks:
    - name: Delete 'guest' user
      rabbitmq_user:
        name: guest
        state: absent

    - name: Add 'admin' user
      rabbitmq_user:
        user: {{ rabbitmq_admin_username }}
        password: {{ rabbitmq_admin_password }}
        vhost: /
        configure_priv: .*
        read_priv: .*
        write_priv: .*
        tags: administrator
        state: present
    
    - name: Add vhost for galaxy
      rabbitmq_vhost:
        vhost: {{ rabbitmq_galaxy_vhost }}
        state: present

    - name: Add 'galaxy' user
      rabbitmq_user:
        user: {{ rabbitmq_galaxy_username }}
        password: {{ rabbitmq_galaxy_password }}
        vhost: {{ rabbitmq_galaxy_vhost }}
        configure_priv: .*
        read_priv: .*
        write_priv: .*
        state: present

    {% if galaxy_extras_config_flower %}

    - name: Add 'flower' user
      rabbitmq_user:
        user: {{ rabbitmq_flower_username }}
        password: {{ rabbitmq_flower_password }}
        vhost: {{ rabbitmq_galaxy_vhost }}
        configure_priv: .*
        read_priv: .*
        write_priv: .*
        tags: administrator
        state: present

    {% endif %}