#!/usr/bin/env python
import os
import glob


SUPERVISOR_DIRECTORY = "/etc/supervisord/config.d"


def dynamic_replace(contents):
    modified = False
    for key, val in os.environ:
        token = "__ENV_%s__" % key
        if token in contents:
            contents = contents.replace(token, val)
            modified = True
    return contents, modified


def main():
    for path in glob.glob('%s/*.conf' % SUPERVISOR_DIRECTORY):
        if not os.path.isfile(path):
            continue
        contents = open(path, "r").read()
        replacement_contents, modified = dynamic_replace(contents)
        if modified:
            open(path, "w").write(replacement_contents)

if __name__ == "__main__":
    main()
