address    = "{{ flower_bind_address }}"
port       = "{{ flower_port }}"
broker_api = "{{ flower_broker_api }}"
persistent = {{ flower_persistent }}
db         = "{{ flower_db_file }}"
url_prefix = "{{ flower_url_prefix }}"
