<?xml version="1.0"?>
{% import "macros.xml.j2" as macros with context %}
<job_conf>
    <plugins workers="2">
{% if galaxy_extras_config_slurm == True %}
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="drmaa_library_path">/usr/lib/slurm-drmaa/lib/libdrmaa.so</param>
        </plugin>
{% endif %}
{% if galaxy_extras_config_condor == True %}
        <plugins>
            <plugin id="condor" type="runner" load="galaxy.jobs.runners.condor:CondorJobRunner" />
        </plugins>
{% endif %}
{% if galaxy_extras_config_pbs == True %}
        <plugin id="pbs" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner">
          <param id="drmaa_library_path">/usr/lib/pbs-drmaa/lib/libdrmaa.so.1</param>
        </plugin>
{% endif %}
    </plugins>
    <handlers default_from_environ="GALAXY_HANDLERS_DEFAULT" default="handlers">
{% if galaxy_handler_processes == 0 %}
        <handler id="web0" tags="handlers"/>
{% else %}
  {% for i in range(galaxy_handler_processes) %}
        <handler id="handler{{ i }}" tags="handlers"/>
  {% endfor %}
{% endif %}
    </handlers>
    <destinations default_from_environ="GALAXY_DESTINATIONS_DEFAULT" default="slurm_cluster">
{% if galaxy_extras_config_slurm == True or galaxy_extras_config_pbs == True or galaxy_extras_config_condor == True %}
  {% if galaxy_extras_config_pbs == True %}
        <destination id="pbs_cluster" runner="pbs">
            <env file="{{ galaxy_venv_dir }}/bin/activate"/>
            {{macros.docker_enabled()}}
        </destination>
  {% elif galaxy_extras_config_slurm == True %}
        <destination id="slurm_cluster" runner="slurm">
            <param id="nativeSpecification" from_environ="NATIVE_SPEC">--ntasks=1 --share</param>
            <env file="{{ galaxy_venv_dir }}/bin/activate"/>
            {{macros.docker_enabled()}}
        </destination>
  {% elif galaxy_extras_config_condor == True %}
        <destination id="condor_cluster" runner="condor">
        {% if galaxy_extras_config_condor_docker == True %}
            <param id="universe" from_environ="GALAXY_CONDA_UNIVERSE">docker</param>
        {% endif %}
            <env file="{{ galaxy_venv_dir }}/bin/activate"/>
        </destination>
  {% endif %}

{% endif %}
    </destinations>
    <limits>
    </limits>
</job_conf>
