<?xml version="1.0"?>
<job_conf>
    <plugins workers="2">
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="drmaa_library_path">/usr/lib/slurm-drmaa/lib/libdrmaa.so</param>
        </plugin>
    </plugins>
    <handlers default="handlers">
{% if galaxy_handler_processes == 0 %}
        <handler id="web0" tags="handlers"/>
{% else %}
{% for i in range(galaxy_handler_processes) %}
        <handler id="handler{{ i }}" tags="handlers"/>
{% endfor %}
{% endif %}
    </handlers>
    <destinations default="cluster">
        <destination id="cluster" runner="slurm">
            <param id="docker_enabled" from_environ="GALAXY_DOCKER_ENABLED">{{ galaxy_docker_enabled }}</param>
            <param id="docker_sudo" from_environ="GALAXY_DOCKER_SUDO">{{ galaxy_docker_sudo }}</param>
            <!-- The empty volumes from shouldn't affect
                 Galaxy, set GALAXY_DOCKER_VOLUMES_FROM to use.
            -->
            <param id="docker_volumes_from" from_environ="GALAXY_DOCKER_VOLUMES_FROM">{{ galaxy_docker_volumes_from }}</param>
        </destination>
    </destinations>
    <limits>
    </limits>
</job_conf>
