listen 443 ssl;

ssl_certificate {{ nginx_ssl_certificate }};
ssl_certificate_key {{ nginx_ssl_certificate_key }};

{# # return 301 https://{{ galaxy_hostname }}$request_uri; # for when we want to redirect to https by default #}

location /.well-known/acme-challenge {
    alias /etc/letsencrypt/wellknown;
}
