user  {{ galaxy_user_name }};
worker_processes  1;
daemon off;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    proxy_buffers 8 16k;
    proxy_buffer_size 16k;

    underscores_in_headers on;
    sendfile        on;

    keepalive_timeout  600;
    types_hash_max_size 2048;

    gzip on;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    client_max_body_size 50g;
    proxy_read_timeout 300;

{% if not galaxy_gunicorn %}
    upstream galaxy_web_app {
       server localhost:8080;
    }
{% endif %}
    server {
        listen 80 default_server;
        listen [::]:80 default_server;
{% if galaxy_extras_config_ssl %}
        rewrite ^ https://$host$request_uri permanent;
    }

    server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        ssl_certificate {{ nginx_ssl_certificate }};
        ssl_certificate_key {{ nginx_ssl_certificate_key }};
{% endif %}

{% if nginx_use_passwords %}
        auth_basic      "devbox";
        auth_basic_user_file  /etc/nginx/htpasswd;
{% endif %}

{% if nginx_proxy_reports %}
        # enable reports under :80/reports/
        location {{ nginx_reports_location }}/ {
            # include authentification settings if enabled
            include {{ nginx_conf_directory }}/reports_auth.conf;
            proxy_pass http://127.0.0.1:{{ galaxy_reports_port }}/;
        }
        # serve static content for report app
        location  {{ nginx_reports_location }}/static {
            alias {{ galaxy_server_dir }}/static;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location {{ nginx_reports_location }}/static/style {
            alias {{ galaxy_server_dir }}/static/style;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location {{ nginx_reports_location }}/static/dist {
            alias {{ galaxy_server_dir }}/static/dist;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
{% endif %}

{% if nginx_proxy_flower %}
        # enable flower under :80/flower/
        location {{ nginx_flower_location }}/ {
            # include authentification settings if enabled
            include {{ nginx_conf_directory }}/flower_auth.conf;
            proxy_pass http://127.0.0.1:{{ flower_port }};
            proxy_set_header Host $host;
            proxy_redirect off;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }
{% endif %}

{% if nginx_proxy_rabbitmq_management %}
        # enable rabbitmq management under :80/rabbitmq/
        location  ~* {{ nginx_rabbitmq_management_location }}/(.*) {
            rewrite ^{{ nginx_rabbitmq_management_location }}/(.*)$ /$1 break;
            proxy_pass http://127.0.0.1:{{ rabbitmq_management_port }};
            proxy_buffering                    off;
            proxy_set_header Host              $http_host;
            proxy_set_header X-Real-IP         $remote_addr;
            proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
{% endif %}

        # pass to gunicorn by default
{% if galaxy_gunicorn %}
        include {{ nginx_conf_directory }}/gunicorn.conf;
{% else %}
        include {{ nginx_conf_directory }}/galaxy_web.conf;
{% endif %}
{% if galaxy_extras_config_ssl_method == 'letsencrypt' %}
        include {{ nginx_conf_directory }}/letsencrypt.conf;
{% endif %}
{% for a in nginx_additional_config %}
        include {{ nginx_conf_directory }}/{{ a }}.conf;
{% endfor %}
{% if nginx_serve_planemo_machine_web %}
        location {{ nginx_planemo_web_location }} {
            alias {{ planemo_machine_web_dir }};
        }
{% endif %}

        # serve static content
        location {{ nginx_galaxy_location }}/static {
            alias {{ galaxy_server_dir }}/static;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location {{ nginx_galaxy_location }}/static/style {
            alias {{ galaxy_server_dir }}/static/style;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location {{ nginx_galaxy_location }}/static/dist {
            alias {{ galaxy_server_dir }}/static/dist;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location /favicon.ico {
            alias {{ galaxy_server_dir }}/static/favicon.ico;
        }

        # delegated downloads
        location /_x_accel_redirect/ {
            internal;
            alias /;
            # Add upstream response headers that would otherwise be omitted
            add_header Access-Control-Allow-Origin $upstream_http_access_control_allow_origin;
            add_header Access-Control-Allow-Methods $upstream_http_access_control_allow_methods;
        }

        # this is needed if 'welcome_url' is set to /etc/galaxy/web
        location {{ nginx_welcome_location }} {
            alias {{ nginx_welcome_path }};
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }

{% if nginx_proxy_interactive_tools %}
        # Route all path-based interactive tool requests to the InteractiveTool proxy application
        location ~* ^{{ nginx_galaxy_location }}/(interactivetool/.+)$ {
            proxy_redirect off;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass http://127.0.0.1:{{ gx_it_proxy_port }};
        }
{% endif %}

        location ~ ^{{ nginx_galaxy_location }}/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
            alias {{ galaxy_server_dir }}/config/plugins/$plug_type/;
            try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
                    $vis_d/static/$static_file =404;
        }

        # include delegated uploads settings if enabled
        include {{ nginx_conf_directory }}/delegated_uploads.conf;

{% if nginx_use_passwords %}
        location /api {
          auth_basic off;
          proxy_pass http://galaxy_web_app/api;
          proxy_set_header X-Forwarded-Host $host;
          proxy_set_header X-Forwarded-For  $proxy_add_x_forwarded_for;
      {% if galaxy_admin_user is defined and galaxy_admin_user %}
          # hard-code a fixed user to pass to Galaxy to auto-login
          proxy_set_header REMOTE_USER '{{ galaxy_admin_user }}';
      {% endif %}
        }
{% endif %}

        # error docs
        error_page  502 503 504 {{ nginx_prefix_location }}/error/502/index.shtml;
        error_page  413         {{ nginx_prefix_location }}/error/413/index.html;
        error_page  500         {{ nginx_prefix_location }}/error/500/index.html;
        location {{ nginx_prefix_location }}/error {
            ssi on;
            alias {{ galaxy_errordocs_dest }};
        }


    }

{% if nginx_proxy_interactive_tools %}
    include {{ nginx_conf_directory }}/interactive_tools.conf;
{% endif %}

}
