# delegated uploads
location {{ nginx_tusd_location }} {
    # Disable request and response buffering
    proxy_request_buffering off;
    proxy_buffering off;
    proxy_http_version 1.1;

    # Add X-Forwarded-* headers
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-Proto $scheme;
        
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    client_max_body_size 0;
    proxy_pass http://127.0.0.1:{{ tusd_port }};
}
