#!/bin/sh
# call "rabbitmqctl stop" when exiting
# taken from https://gist.github.com/caioariede/342a583f75467509ad42
mkdir -p /var/run/rabbitmq && chown rabbitmq:rabbitmq /var/run/rabbitmq && chmod 755 /var/run/rabbitmq
RABBITMQ_ENV=/usr/lib/rabbitmq/bin/rabbitmq-env
RABBITMQ_SCRIPTS_DIR=$(dirname "$RABBITMQ_ENV")
. /usr/lib/rabbitmq/bin/rabbitmq-env
trap "{ echo Stopping rabbitmq; rabbitmqctl stop; exit 0; }" TERM

echo Starting rabbitmq
rabbitmq-server &

# from docs: When Bash receives a signal for which a
# trap has been set while waiting for a command to
# complete, the trap will not be executed until the
# command completes.
#
# This is why we use & and wait here. Idea taken from:
# http://veithen.github.io/2014/11/16/sigterm-propagation.html
PID=$!
wait $PID
