#!/bin/bash

cd $GALAXY_ROOT

export GALAXY_CONFIG_STATIC_ENABLED=True
export GALAXY_CONFIG_ALLOW_LIBRARY_PATH_PASTE=True
unset GALAXY_CONFIG_NGINX_UPLOAD_STORE
unset GALAXY_CONFIG_NGINX_UPLOAD_PATH

# The lite mode can be useful to populate data libraries.
# To make this work it is needed to unset the following variables
unset GALAXY_CONFIG_JOB_WORKING_DIRECTORY
unset GALAXY_CONFIG_FILE_PATH
unset GALAXY_CONFIG_NEW_FILE_PATH
unset GALAXY_CONFIG_TEMPLATE_CACHE_PATH
unset GALAXY_CONFIG_CITATION_CACHE_DATA_DIR
unset GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY
unset GALAXY_CONFIG_FTP_UPLOAD_DIR
unset GALAXY_CONFIG_INTEGRATED_TOOL_PANEL_CONFIG

JOB_CONF=$GALAXY_ROOT/config/job_conf.xml.sample_basic

while getopts "j" opt; do
  case $opt in
    j)
      #if they pass -j, don't override the job config file
      JOB_CONF=$GALAXY_CONFIG_JOB_CONFIG_FILE
      ;;
    \?)
      echo "Invalid option: -$OPTARG" >&2
      ;;
  esac
done

export GALAXY_CONFIG_JOB_CONFIG_FILE=$JOB_CONF

service postgresql start

. {{ galaxy_venv_dir }}/bin/activate

echo "Checking if database is up and running"
until /usr/local/bin/check_database.py 2>&1 >/dev/null; do sleep 1; echo "Waiting for database"; done
echo "Database connected"

./run.sh -d galaxy_startup_lite.log --pidfile galaxy_startup_lite.pid --http-timeout 3000 
